<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="../stylesheets/loginstyle.css">
</head>
<body>
    <h1>Welcome Back..</h1>
    <div class="form">
      <form action="/login" method="POST">
      <label for="username">Username</label>
      <input type="text" name="username" id="useranme">
      <label for="password">Password</label>
      <input type="password" name="password" id="password">
     
      <button>Login</button>  
    </form>
    </div>
    <p>New here?   <a href="/">Register now</a></p>    
</body>
</html>