body {
    padding: 10px;
    font-family: Serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://img.freepik.com/free-vector/safari-tour-realistic-illustration_52683-78209.jpg");
    background-size: cover;  
    text-align: center;
    box-sizing: border-box;
}
h1{
    color: rgb(228, 201, 201);
    font-family: Cursive;
}
#text,#date,#addBtn{
  background-color: rgba(255,255,255, 0.3);
  height: 20px;
  color: black;
}
::placeholder {
  color: black;
}


.completed {
    text-decoration: line-through;
    opacity: 0.5;
    transition: opacity 0.5s ease-in-out;
  }
  #tableTask
  {
    
 
    text-align: center;
    margin: auto;
    margin-top: 20px;
    background: transparent;
    /* backdrop-filter: blur(15px); */

    width: 60%;
    min-width: 350px;
    color: white;
  } 
 
  th{
    color: #6aa0f7;
    padding: 5px;
    height: 30px;
  }
  td{
    height: 35px;
  }
  #th1{
    max-width: 30px;
  }
  i:hover{
    cursor: pointer;
  }
  i{
    font-size: 14px;
  }
  #text{
    width: 43%;
    min-width: 150px;
    height: 30px;
    border-radius: 7px;
    padding-left: 10px;
   
  }
#date{
    height: 30px;
    border-radius: 7px;
    padding-left: 10px;
   
  }
  #date:hover{
    cursor: pointer;
  }
  #addBtn{
    height: 33px;
    border-radius: 7px;
    width: 45px;
  }
  button{
    height: 30px;
    border-radius: 4px;
  }
  button:hover{
    cursor: pointer;
  }
  
#logoutForm {
    position: fixed;
    bottom: 15px;
    left: 50%;
    transform: translateX(-50%);
}


#logoutForm button {
    padding: 10px;
    padding-bottom: 10px;
    background-color: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;    
}

#logoutForm button:hover {
    background-color: #e99898;
}
