body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("https://img.freepik.com/free-vector/safari-tour-realistic-illustration_52683-78209.jpg");
    background-size: cover;  
  }
  
  h1{
    text-align: center;
    color: rgb(239, 228, 230);
  }
  p{
    text-align: center;
    color: white;
  }
  
  input
  {
    border-radius: 5px;
    width: 95%;
    margin: 5px 0;
    height: 20px;  
    background-color: rgba(255,255,255, 0.3);
  }
  .form
  {
    background: transparent;
    backdrop-filter: blur(40px);
    width: 60%;
    color: white;
    padding: 20px;
    border-radius: 5px;
    max-width: 350px;
    margin: auto;
    border: 1px solid white;  
    border-radius: 5px;
    padding: 20px;
  }
 
  
  button
  {
    margin-left: 40%;
    margin-top: 5px;
    border-radius: 4px;
    background-color: transparent;
    color: white;
  }
  a{
    color: white;
  }
  a:hover
  {
    cursor: pointer; 
    color: blue;
  }
  button:hover
  {
    cursor: pointer; 
    background-color: rgb(93, 137, 204);
  }